name: CI - DVC Pipeline

on:
  push:
    branches: [ master, main ]
  pull_request:
    branches: [ master, main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install dvc[all] mlflow dagshub

      - name: Configure DVC remote (DagsHub)
        env:
          DAGSHUB_USER: SebaBartos
          DAGSHUB_TOKEN: d9c278be3881afe641d783f4d2df9b5ff2f4e309
        run: |
          dvc remote modify origin auth basic
          dvc remote modify origin user $DAGSHUB_USER
          dvc remote modify origin password $DAGSHUB_TOKEN

      - name: Pull data and model from DagsHub
        run: dvc pull

      - name: Run DVC pipeline
        run: dvc repro

      - name: Show metrics
        run: cat metrics.json
